@{
    ViewData["Title"] = "Leave Requests List";
}

@model IEnumerable<OutOfOffice.Models.LeaveRequest>

<table class="table">
    <thead>
        <tr>
            <th id="idHeader">ID</th>
            <th id="employeeIdHeader">Employee ID</th>
            <th id="absenceReasonHeader">Absence Reason</th>
            <th id="fromHeader">From</th>
            <th id="toHeader">To</th>
            <th id="commentHeader">Comment</th>
            <th id="statusHeader">Status</th>
            <th id="actionHeader">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var leaveRequest in Model)
        {
            <tr>
                <td>@leaveRequest.Id</td>
                <td>@leaveRequest.EmployeeId</td>
                <td>@Html.DisplayFor(modelItem => leaveRequest.AbsenseReason)</td>
                <td>@leaveRequest.StartDate.ToShortDateString()</td>
                <td>@leaveRequest.EndDate.ToShortDateString()</td>
                <td>@leaveRequest.Comment</td>
                <td>@leaveRequest.LeaveRequestStatus</td>
                <td>
                    <a href="@Url.Action("UpdateLeaveRequest", "LeaveRequest", new { leaveRequestId = leaveRequest.Id })" class="btn btn-custom-grey btn-sm">Update</a>
                    <form asp-action="CancelLeaveRequest" method="post" style="display:inline;">
                        <input type="hidden" name="leaveRequestId" value="@leaveRequest.Id" />
                        <button type="submit" class="btn btn-custom-grey btn-sm cancel-btn" data-status="@leaveRequest.LeaveRequestStatus">Cancel request</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-right mt-3">
    <a href="@Url.Action("SubmitLeaveRequest", "LeaveRequest")" class="btn btn-primary">Submit Request</a>
</div>


@section Scripts {
    <script>document.addEventListener("DOMContentLoaded", function () {
            const getCellValue = (row, index) => row.children[index].innerText || row.children[index].textContent;

            const comparer = (index, asc) => (a, b) => ((v1, v2) =>
                v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
            )(getCellValue(asc ? a : b, index), getCellValue(asc ? b : a, index));

            document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
                const table = th.closest('table');
                const tbody = table.querySelector('tbody');
                Array.from(tbody.querySelectorAll('tr'))
                    .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                    .forEach(tr => tbody.appendChild(tr));
            })));

            document.querySelectorAll('.cancel-btn').forEach(button => {
                const status = button.getAttribute('data-status');
                if (status.toLowerCase() === 'cancelled') {
                    button.classList.add('disabled');
                    button.disabled = true;
                }
            });
        });</script>
}
