@{
    ViewData["Title"] = "Employee List";
}

@model IEnumerable<Employee>

<table class="table">
    <thead>
        <tr>
            <th id="employeeIdHeader">Employee ID</th>
            <th id="fullNameHeader">Full Name</th>
            <th id="subdivisionHeader">Subdivision</th>
            <th id="positionHeader">Position</th>
            <th id="statusHeader">Status</th>
            <th id="peoplePartnerIdHeader">People Partner ID</th>
            <th id="peoplePartnerHeader">People Partner</th>
            <th id="balanceHeader">Balance</th>
            <th id="actionHeader">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FullName</td>
                <td>@Html.DisplayFor(modelItem => employee.Subdivision)</td>
                <td>@Html.DisplayFor(modelItem => employee.Position)</td>
                <td>@employee.EmployeeStatus</td>
                <td>@employee.PeoplePartnerId</td>
                <td>@employee.PeoplePartner.FullName</td>
                <td>@employee.Balance</td>
                <td>
                    <a href="@Url.Action("UpdateEmployee", "Employee", new { employeeID = employee.Id })" class="btn btn-custom-grey btn-sm">Update</a>
                    <form asp-action="DeactivateEmployee" method="post" style="display:inline;">
                        <input type="hidden" name="employeeID" value="@employee.Id" />
                        <button type="submit" class="btn btn-custom-grey btn-sm deactivate-btn" data-status="@employee.EmployeeStatus">Deactivate</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-right mt-3">
    <a href="@Url.Action("AddEmployee", "Employee")" class="btn btn-primary">Add Employee</a>
</div>

@section Scripts {
    <script>document.addEventListener("DOMContentLoaded", function () {
            const getCellValue = (row, index) => row.children[index].innerText || row.children[index].textContent;

            const comparer = (index, asc) => (a, b) => ((v1, v2) =>
                v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
            )(getCellValue(asc ? a : b, index), getCellValue(asc ? b : a, index));

            document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
                const table = th.closest('table');
                const tbody = table.querySelector('tbody');
                Array.from(tbody.querySelectorAll('tr'))
                    .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                    .forEach(tr => tbody.appendChild(tr));
            })));

            document.querySelectorAll('.deactivate-btn').forEach(button => {
                const status = button.getAttribute('data-status');
                if (status.toLowerCase() === 'inactive') {
                    button.classList.add('disabled');
                    button.href = "javascript:void(0)";
                }
            });
        });</script>
}
